*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
    background-color: #CCC;
}

.header_logo img{
    max-width: 100px;   
}

header{
    display: flex;
    justify-content: center;
}

.container{
    width: 990px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container1{
    height: 150px;
}

.header_menu a{
    text-decoration: none;
    color: #222;
    padding: 15px;
    border: 1px solid black;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.5s;

}

.header_menu a:hover{
    text-decoration: none;
    color: #222;
    padding: 15px;
    border: 1px solid black;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.5s;
    transform:scale(0.5);
    transition: 0.5s;
}

.header_menu ul{
    list-style-type: none;
    display: flex;
}

/*Aqui começa o corpo, essa é a primeiraseção*/
/*---------------------------------------------------------------*/

.banner{
    background-image: url('../images/einstein.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.banner h2{
    font-size: 40px;
    color: #FFF;
    max-width: 650px;
    margin-top: 100px;
    text-shadow: 2px 0px 2px #aaa;
}

.banner_div{
    align-items: flex-start;
}

/*Aqui começa a section onde será dividida em duas partes...*/
/*-----------------------------------------------------------------------------*/

section{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.section_biografia p{
    font-size: 20px;
    color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estilo_emc2{
    font-size: 40px;
    padding: 20px;
    border: 1px solid #000;
    margin-top: 40px;
    margin-bottom: 70px;
    font-weight: bold;
    border-radius: 10px;
}

.section_biografia h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.sublinhado_titulo{
    height: 2px;
    width: 150px;
    background-color: #000;
    margin-bottom: 40px;
}

.section_historia table{
    border-collapse: collapse;
}

.coluna{
    flex-direction: column;
}

.card{
    margin: 20px;
}

.card p{
    width: 90%;
}

.linha_vertical{
    height: 70px;
    width: 5px;
    background-color: #000;
    align-self: center;
}

.section_historia td:nth-child(1){
    border-right: 2px solid #000;
}

.card{
    display: flex;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 15px;
    background-color: #FFF;
}

.esquerda_card{
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.card .info{
    margin-left: 20px;
    width: 100%;
}

.section_historia h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.section_historia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sublinhado_historia{
    margin-bottom: 70px;
}

/*Aqui começa o footer*/
/*-----------------------------------------------------------------------*/

footer{
    display: flex;
    justify-content: center;
    background-color: #04045d;
    padding-bottom: 100px;
}

footer .container{
    background-color: #CCC;
    padding: 50px;
    border:10px solid black ;
}

.footer_anuncio{
    width: 40%;
    height: 100px;
    background-color: #aaa;
}

.footer_info{
    display: flex;
    align-items: center;
}

.footer_wiki{
    padding: 20px;
}

footer a{
    color: #595;
    text-decoration: none;
}

.footer_pessoal{
    font-size: 25px;
}

.footer_pessoal table{
    border-collapse: collapse;

}

.footer_pessoal tr{
    border-bottom: 1px solid black ;
}

.footer_pessoal td{
    padding-top: 15px;
}

.footer_pessoal td:nth-child(1){
    padding-right: 30px;
}

.linkedin{
    background-color: #0C66C2;
    padding:0px 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.header_menu_mobile{
    display: none;
    width: 60px;
    height: 60px;
    background-color: rgb(14, 5, 98);
    border-radius: 10px;
}

.header_menu_mobile div{
    height: 3px;
    width: 60%;
    background-color: white;
}

.separador_mobile{
    height: 3px;
    width: 90%;
    background-color: black;
    margin-bottom: 30px;
    display: none;
}


@media (max-width:800px) and (min-width:450px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_anuncio{
        width: 200px;
    }

    .footer_info{
        flex-direction: column;
    }


}

@media (max-width: 450px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
        width: 300px;
    }

    .header_menu{
        display: none;
    }

    .header_menu_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer_info{
        flex-direction: column;
    }

    .footer_anuncio{
        width: 200px;
    }

    .separador_mobile{
        display: flex;
    }

    footer .container{
        padding: 20px;
        border: none;
        width: 100%;
    }

}